.MenuButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    height: 80%;
    width: 50px;
    position: relative;
}

.MenuButton div {
    margin: 2px auto;
    width: 26px;
    padding: 2px;
    background-color: #703B09;
    border-radius: 2px;
    position: relative;
}

@media (min-width: 500px) {
    .MenuButton {
        opacity: 0;
        width: 200px;
    }
}